.heading{
    font-size: 50px;
    background-color: rgb(97, 197, 16);
    text-align: center;
}

.green{
    background-color: rgb(92, 200, 243);
}
.blue{
    background-color:rgb(62, 198, 231) ;
}
.pink{
    background-color: pink;
}
.pin{
    background-color: pink;
}
.pik{
    background-color: pink;
}
.pik{
    background-color: blueviolet;
}
